html {
    font-size: 10px;
    font-family: 'Kanit', sans-serif;
    background-color: #F94C66;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #BD4291;
    padding: 25px 50px 25px;
    border: 10px solid yellowgreen;
    color: white;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: chocolate;
}

p, li {
    font-size: 25px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 20px solid springgreen; 
    border-radius: 600px;
}